hdbscan==0.8.27
ipython==7.20.0
jupyter==1.0.0
matplotlib==3.3.4
notebook==6.2.0
numba==0.52.0
numpy==1.20.1
pandas==1.2.2
pillow==8.1.1
pip==21.0.1
pynndescent==0.5.2
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
setuptools==52.0.0
umap-learn==0.5.1
# deps for umap-learn[plot]
dask==2021.2.0
datashader==0.12.0
datashape==0.5.2
holoviews==1.14.1
imageio==2.9.0
llvmlite==0.35.0
networkx==2.5
notexbook-theme==1.1.5
requests==2.25.1
scikit-image==0.18.1
tqdm==4.57.0
xarray==0.16.2